.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 350px;
    /* border: 1px solid #2c2c2c;
    border-radius: 7px; */
    text-align: center;
}

.card-title {
    text-align: center;
}

.form-group label {
    display: block;
    margin: 6px;
    padding-left: 23px;
    text-align: justify;
}

.form-group input {
    width: 80%;
    padding: 6px;
    font-size: 16px;
}

.form-group button {
    width: 84%;
    margin-top: 10px;
    padding: 7px;
    font-size: 16px;
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
}

.form-group button:hover {
    background-color: #0CAA41;
    border: 1px solid #0CAA41;
    color: white;
}